<!DOCTYPE html>
<html>
  <head>
    <title>art</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'jquery' %>
    <%= stylesheet_link_tag 'main' %>
    <%= stylesheet_link_tag 'bootstrap.min' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
